In [1]:
print(input("Nama:Resya Falisha"))
print(input("NIM:I0322105"))
print(input("Kelas:D"))

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [2]:
#soal = diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:jika
p = 11
l = 1.99
t = 25.87
#ditanya = buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tanpa menggunakan module math

#mencari nilai diagonal untuk setiap sisi
diagonal_alas_aquarium = float((p**2+l**2)**0.5)
diagonal_depan_aquarium = float((p**2 + t**2)**0.5)
diagonal_samping_aquarium = float ((l**2+t**2)**0.5)
print("panjang diagonal alas aquarium adalah = ", diagonal_alas_aquarium)
print("panjang diagonal depan aquarium adalah = ", diagonal_depan_aquarium)
print("panjang diagonal samping aquarium adalah = ", diagonal_samping_aquarium)
print("====================")

#mencari luas permukaan aquarium
Luas_permukaan_aquarium = float((p*l) + 2*(p*t)+(l*t))
print("maka luas permukaan aquarium tanpa tutup adalah = ", Luas_permukaan_aquarium)
print("====================")

panjang diagonal alas aquarium adalah =  11.17855536283647
panjang diagonal depan aquarium adalah =  28.11150831954771
panjang diagonal samping aquarium adalah =  25.946425572706545
====================
maka luas permukaan aquarium tanpa tutup adalah =  642.5113
====================

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [4]:
#soal = 
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}
#ditanya = buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah

#mencari rata-rata nilai mahasiswa
rata_rata = float(sum(nilai.values())/len(nilai.values()))
print("nilai rata-rata dari semua nilai mahasiswa = ", rata_rata)

#mencari nilai terendah nilai mahasiswa
nilai_terendah = min(nilai.values())
print("nilai terendah dari semua nilai mahasiswa yaitu Ariadne = ", nilai_terendah)

#mencari nilai tertinggi nilai mahasiswa
nilai_tertinggi = max(nilai.values())
print("nilai tertinggi dari semua nilai mahasiswa yaitu Cobb= ", nilai_tertinggi)

nilai rata-rata dari semua nilai mahasiswa =  80.0
nilai terendah dari semua nilai mahasiswa yaitu Ariadne =  70
nilai tertinggi dari semua nilai mahasiswa yaitu Cobb=  90

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [5]:
#soal =
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
#ditanya = A. tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab dari index 1 sampai 5 dan B.tambahkan informasi berikut pada data aslab

#A tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
for y in range (1,6) :
    print(list_aslab[y]["nama"])
   
print("====================")
#B Tambahkan informasi pada data aslab 
for y in range (len(list_aslab)) :
    list_aslab[y]["surel"]= surel[y]
for list_aslab_email in list_aslab :
    print(list_aslab_email)

Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma
====================
{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}